APIDayProject.module/Schemas/Posts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Posts" xmlns:tns="http://www.example.org/Posts" elementFormDefault="qualified">


    <complexType name="Posts">
    	<sequence>
    		<element name="postId" type="string"></element>
    		<element name="id" type="string"></element>
    		<element name="name" type="string"></element>
    		<element name="email" type="string"></element>
    		<element name="body" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Post" type="tns:Posts"></element>
</schema>